body {
  margin: 0;
  background: url("assets/background-image.png") no-repeat center center fixed;
  background-size: cover;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100vh;
  vertical-align: baseline;
}

#myVideo {
  position: fixed;
  z-index: -1;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.container {
  position: relative;
  max-width: 884px;
  margin: 0 auto;
  padding: 10px;
}

.logo {
  text-align: center;
  margin-bottom: 70px;
}

.logo img {
  height: 80px;
  width: 80px;
}

.content {
  text-align: center;
  color: #fafbff;
  margin-bottom: 60px;
}

.content__header {
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  margin-bottom: 30px;
}

.content__text {
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 30px;
}

.share {
  max-width: 680px;
  margin: 0 auto;
}

.share_buttons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.share_buttons__item {
  height: 60px;
  min-width: 293px;
  display: flex;
  flex-direction: row;
  background-color: #fafbff;
  border-radius: 50px;
}

.share_buttons__item__logo {
  height: 60px;
  width: 60px;
  border-radius: 50px;
  background-color: rgba(102, 92, 172, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.share_buttons__item__logo img {
  height: 30px;
  width: 30px;
  margin: 0 auto;
}

.share_buttons__item__text {
  text-decoration: none;
  color: #292a2e;
  text-align: center;
  width: 100%;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  margin: auto;
  margin-left: -60px;
}

.share_buttons__info {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  opacity: 0.5;
  margin-bottom: 20px;
}

.share_qr {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.share_qr__item__logo {
  height: 200px;
  width: 200px;
  background-color: #ffffff;
  border-radius: 30px;
  margin-bottom: 10px;
}

.share_qr__item__logo img {
  height: 190px;
  width: 190px;
  margin: 5px;
}

.share_qr__item__text {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  opacity: 0.5;
  text-align: center;
}

@media (max-width: 768px) {
  .logo {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .share_buttons__item {
    min-width: 400px;
    margin-bottom: 20px;
  }

  .share_buttons__item__text {
    font-size: 18px;
  }

  .share_qr__item__logo {
    height: 400px;
    width: 400px;
  }

  .share_qr__item__logo img {
    height: 390px;
    width: 390px;
  }

  .share_qr__item__text {
    margin-bottom: 20px;
  }
}

@media (max-width: 576px) {
  .logo {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .content__header {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 30px;
  }

  .logo img {
    height: 60px;
    width: 60px;
  }

  .share_buttons__item {
    min-width: 300px;
    margin-bottom: 20px;
  }

  .share_buttons__item__text {
    font-size: 16px;
  }

  .share_qr__item__logo {
    height: 300px;
    width: 300px;
  }

  .share_qr__item__logo img {
    height: 290px;
    width: 290px;
  }

  .share_qr__item__text {
    margin-bottom: 20px;
  }
}

@media (max-height: 800px) {
  .logo {
    margin-bottom: 30px;
  }
  .content {
    margin-bottom: 50px;
  }
  .content__header {
    line-height: 50px;
    margin-bottom: 30px;
  }
}
